<!DOCTYPE html>
<html>
{% load static %}
<head>
<title>Mini WMS</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% static 'layout/styles/main.css' %}" rel="stylesheet" type="text/css" media="all">
<link href=" {% static 'layout/styles/mediaqueries.css' %}" rel="stylesheet" type="text/css" media="all">

</head>
<body class="">
<div class="wrapper row1">
  <header id="header" class="full_width clear">
    <div id="hgroup">
      <h1><a href="#">Warehouse Management System</a><a href="{% static 'images/my_code.jpg'%}"><span class="icon-paper-clip icon-large"></span></a></h1>
    </div>
    <div id="header-contact">
      <ul class="list none">
        <li>
            <strong>
                    Witaj
                {% if user.is_authenticated %}
                     {{ user.username }}
                {% else %}
                    Użytkowniku
                {% endif %}
            </strong>
        </li>
            <li>
           {% if user.is_authenticated %}
               <a href="{% url 'carts' %}"><span class="icon-shopping-cart icon-2x"></span></a>
      {% endif %}</li>
      <li>
         {% if user.is_authenticated %}
           <a href="{% url 'logout' %}">Wyloguj</a>
         {% else %}
           <a href="{% url 'login' %}">Zaloguj</a>
         {% endif %}</li>

      <li>
         {% if not user.is_authenticated %}
           <a href="{% url 'registration' %}">Rejestracja</a>
         {% endif %}</li>
      </ul>
    </div>
  </header>
</div>
<div class="wrapper row2">
  <nav id="topnav">
    <ul class="clear">
      <li class="active"><a href="{% url 'index' %}" title="Homepage">Strona domowa</a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url 'products' %}">Produkty</a>
      <li><a href="{% url 'zones' %}">Strefy</a></li>
      <li><a href="{% url 'locations' %}">Lokalizacje</a></li>
      <li><a href="{% url 'stocks' %}">Zapasy</a></li>
      <li><a href="{% url 'orders' %}">Złóż zamówienie</a></li>
              {% endif %}
    </ul>
  </nav>
</div>
<!-- content -->
<div class="wrapper row3">
  <div id="container">
    <!-- ################################################################################################ -->
    <div id="homepage" class="form-check">
      <section class="clear">
        <div class="form-input clear">
          {% block content %}
          {% endblock %}
        </div>
      </section>
    <div class="clear"></div>
  </div>
</div>
<!-- Footer -->
<div class="wrapper">
  <div id="copyright" class="clear">
    <p class="fl_left">Mini WMS by - <a href="mailto: wszystkopisanerazem@gmail.com">Michał Dymek</a></p>
    <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
  </div>
</div>
<!-- Scripts -->
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://code.jquery.com/ui/1.10.1/jquery-ui.min.js"></script>
<script src="{% static 'layout/scripts/jquery-latest.min.js' %}"></script>
<script src="{% static 'layout/scripts/jquery-ui.min.js' %}"></script>
<script src="{% static 'layout/scripts/jquery-mobilemenu.min.js' %}"></script>
<script src="{% static 'layout/scripts/custom.js' %}"></script>
</div>
</body>
</html>